html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .mainPage {
    text-align: center;
    padding: 20px;
  }
  
  .pageHeader {
    font-size: 2em;
    font-family: "League Spartan", sans-serif;
  }
  
  .mainDesc {
    font-size: 1.2em;
    font-family: "Comfortaa", sans-serif;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
  }
  
  a:hover {
    background-color: #0056b3;
  }  